# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
node_modules.old*

# testing
/coverage

# next.js
.next/
/out/
/.next.old*/

# production
/build

# yarn
.yarn/*
yarn-error.log

# misc
.DS_Store

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Turbo
.turbo
